.item {
  width: 260px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 16px #bebdbd;
}

.status.online {
  color: green;
}

.status.offline {
  color: red;
}