.table {
  margin-top: 60px;
  width: 100%;
  box-shadow: 2px 2px 16px #bebdbd;
}

.table-head {
  background-color: #458888;
  text-align: left;
}

.table-row {
  width: 100%;
}

.table-title {
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
}